body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

hr{
    background-color: white;
    border-style: line none none;
    border-color: grey;
    border-width: 2px; 
               
    width: 50%;
}

 
h1{
    color: #297F87;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #297F87;
}