

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

hr{
    /* background-color: bisque; */
    border-style: none;
    border-top-style: dotted;
    /* border-left-style: none;
    border-right-style: none;
    border-bottom-style: none; */
    border-color: lightgrey;
    border-width: 6px;
     
    width: 7%;
}

 
h1{
    color: #297F87;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #297F87;
}